<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>net.thk.macOSPeriodix</string>
	<key>CFBundleName</key>
	<string>macOS Periodix</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>2018 by ThK</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>968</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>799</real>
		<key>savedFrame</key>
		<string>229 90 1267 937 0 0 1680 1027 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
</dict>
</plist>
